#wallpaper {
    height: 100%;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.icon {
    max-width: 40px;
    height: auto;
    position:relative;
    align-items: right;
    margin: 25%;
}
.dish {
    max-width: 85px;
    height: 85px;
    border-radius: 30px;
}
.group {
    background-color: rgb(7, 27, 100);
    margin: 5%;
    align-content: left;
    border-radius: 20px;
}
.background {
    background-color: rgb(12, 21, 52);
}
.titles {
    color:aliceblue;
    text-align: center;
    font-size: 30px;
}
.sub {
    color:aliceblue;
    text-align: left;
    font-size: 24px;
    padding-left: 10px;
}
* {
    margin: 100;
    padding: 100;
    font-family: 'Poppins', semi-Bold;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
}