@font-face {font-family: "svgtofont";
  src: url('svgtofont.eot?t=1675305182738'); /* IE9*/
  src: url('svgtofont.eot?t=1675305182738#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("svgtofont.woff2?t=1675305182738") format("woff2"),
  url("svgtofont.woff?t=1675305182738") format("woff"),
  url('svgtofont.ttf?t=1675305182738') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('svgtofont.svg?t=1675305182738#svgtofont') format('svg'); /* iOS 4.1- */
}

[class^="svgtofont-"], [class*=" svgtofont-"] {
  font-family: 'svgtofont' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svgtofont-arrow_back:before { content: "\ea01"; }
.svgtofont-arrow_right:before { content: "\ea02"; }
.svgtofont-burger:before { content: "\ea03"; }
.svgtofont-cafe:before { content: "\ea04"; }
.svgtofont-cashew_nut:before { content: "\ea05"; }
.svgtofont-celery:before { content: "\ea06"; }
.svgtofont-checkbox_blank:before { content: "\ea07"; }
.svgtofont-checkbox_marked:before { content: "\ea08"; }
.svgtofont-close:before { content: "\ea09"; }
.svgtofont-dashboard:before { content: "\ea0a"; }
.svgtofont-egg:before { content: "\ea0b"; }
.svgtofont-fish:before { content: "\ea0c"; }
.svgtofont-frozen:before { content: "\ea0d"; }
.svgtofont-info:before { content: "\ea0e"; }
.svgtofont-leaf:before { content: "\ea0f"; }
.svgtofont-map:before { content: "\ea10"; }
.svgtofont-menu:before { content: "\ea11"; }
.svgtofont-milk:before { content: "\ea12"; }
.svgtofont-mustard:before { content: "\ea13"; }
.svgtofont-opening_hours:before { content: "\ea14"; }
.svgtofont-pig:before { content: "\ea15"; }
.svgtofont-pin:before { content: "\ea16"; }
.svgtofont-price:before { content: "\ea17"; }
.svgtofont-profile:before { content: "\ea18"; }
.svgtofont-radiobox_blank:before { content: "\ea19"; }
.svgtofont-radiobox_marked:before { content: "\ea1a"; }
.svgtofont-sesame:before { content: "\ea1b"; }
.svgtofont-share:before { content: "\ea1c"; }
.svgtofont-soy_beans:before { content: "\ea1d"; }
.svgtofont-star:before { content: "\ea1e"; }
.svgtofont-star_filled:before { content: "\ea1f"; }
.svgtofont-suggestion:before { content: "\ea20"; }
.svgtofont-toggle_off:before { content: "\ea21"; }
.svgtofont-toggle_on:before { content: "\ea22"; }
.svgtofont-trending_down:before { content: "\ea23"; }
.svgtofont-trending_up:before { content: "\ea24"; }
.svgtofont-tune:before { content: "\ea25"; }
.svgtofont-wheat:before { content: "\ea26"; }
.svgtofont-wine:before { content: "\ea27"; }

$svgtofont-arrow_back: "\ea01";
$svgtofont-arrow_right: "\ea02";
$svgtofont-burger: "\ea03";
$svgtofont-cafe: "\ea04";
$svgtofont-cashew_nut: "\ea05";
$svgtofont-celery: "\ea06";
$svgtofont-checkbox_blank: "\ea07";
$svgtofont-checkbox_marked: "\ea08";
$svgtofont-close: "\ea09";
$svgtofont-dashboard: "\ea0a";
$svgtofont-egg: "\ea0b";
$svgtofont-fish: "\ea0c";
$svgtofont-frozen: "\ea0d";
$svgtofont-info: "\ea0e";
$svgtofont-leaf: "\ea0f";
$svgtofont-map: "\ea10";
$svgtofont-menu: "\ea11";
$svgtofont-milk: "\ea12";
$svgtofont-mustard: "\ea13";
$svgtofont-opening_hours: "\ea14";
$svgtofont-pig: "\ea15";
$svgtofont-pin: "\ea16";
$svgtofont-price: "\ea17";
$svgtofont-profile: "\ea18";
$svgtofont-radiobox_blank: "\ea19";
$svgtofont-radiobox_marked: "\ea1a";
$svgtofont-sesame: "\ea1b";
$svgtofont-share: "\ea1c";
$svgtofont-soy_beans: "\ea1d";
$svgtofont-star: "\ea1e";
$svgtofont-star_filled: "\ea1f";
$svgtofont-suggestion: "\ea20";
$svgtofont-toggle_off: "\ea21";
$svgtofont-toggle_on: "\ea22";
$svgtofont-trending_down: "\ea23";
$svgtofont-trending_up: "\ea24";
$svgtofont-tune: "\ea25";
$svgtofont-wheat: "\ea26";
$svgtofont-wine: "\ea27";

